<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_listing_data_source" xsi:type="string">Mangoit\Banner\Model\ResourceModel\Banner\Grid\Collection</item>             
            </argument>
        </arguments>
    </type>

    <type name="Mangoit\Banner\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mangoit_banner</argument>
            <argument name="eventPrefix" xsi:type="string">banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mangoit\Banner\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>

    <type name="Mangoit\Banner\Controller\Adminhtml\Banner\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">BannerUpload</argument>
        </arguments>
    </type>

    <type name="Mangoit\Banner\Controller\Adminhtml\Banner\Image\Mobileupload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">BannerUpload</argument>
        </arguments>
    </type>

    <virtualType name="BannerUpload" type="Mangoit\Banner\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">mangoit/homepage-banner</argument>
            <argument name="basePath" xsi:type="string">mangoit/homepage-banner</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>  

    <virtualType name="BannerGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="BannerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mangoit\Banner\Model\ResourceModel\Banner\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BannerGridFilterPool</argument>
        </arguments>
    </virtualType>
</config>